@model IEnumerable<HPSMVC.Models.Event>
@{
    ViewBag.Title = "Index";
}
<section>
    <div class="container">
        <h2>Events</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        @using (Html.BeginForm())
        {
            <p>
                @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
                <input onclick="$(this).resetValidation()" type="reset" value=" Clear" />
            </p>
        }

        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Title", "Admin", new { sortOrder = ViewBag.TitleSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.ActionLink("Date", "Admin", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th>
                    @Html.ActionLink("Viewer", "Admin", new { sortOrder = ViewBag.ViewerSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LinkText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fileType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fileContent)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Viewer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LinkText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fileType)
                    </td>
                    <td>
                        @{
                    if (item.fileContent != null && item.fileType.Contains("image"))
                    {
                    string imageBase64 = Convert.ToBase64String(item.fileContent);
                    string imageSrc = string.Format("data:" + item.fileType + ";base64,{0}", imageBase64);
                    <img src="@imageSrc" style="max-height:100px;max-width:120px;" class="img-responsive" />
                    }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</section>