@model IEnumerable<HPSMVC.Models.Event>
    @{
        ViewBag.Title = "BoardCalendar";
        ViewBag.BodyClass = "events";
        ViewBag.BodyID = "BoardCal";
    }  

    <section class="event-card-section clearfix" style="background-color:white">
@foreach (var item in Model)
    {
        if (item.Date >= DateTime.Now.Date)
        {
            if (User.IsInRole("FamilyAssoc"))
            {
                if (item.Viewer.Contains("FamilyAssoc"))
                {
                  <div class="event-card">
                        <div class="event-card-content">
                            <h2>
                                @Html.DisplayFor(modelItem => item.Title)
                            </h2>
                            <h4>@Html.DisplayFor(modelItem => item.Date) | @Html.DisplayFor(modelItem => item.Time)</h4>
                            <p>@Html.DisplayFor(modelItem => item.Content)</p>
                            <a href="@Html.DisplayFor(modelItem => item.Link)" class="btn event__btn">@Html.DisplayFor(modelItem => item.LinkText)</a>
                            @if (item.fileContent != null)
                            {<p class="event__file"><i class="fa fa-download"></i> @Html.ActionLink("Download File", "Download", new { id = item.ID })</p>}
                        </div>
                    </div>
                }
            }
              
            if (User.IsInRole("BoardDirector"))
            {
                if (item.Viewer.Contains("BoardDirector"))
                {
                    <div class="event-card">
                        <div class="event-card-content">
                            <h2>
                                @Html.DisplayFor(modelItem => item.Title)
                            </h2>
                            <h4>@Html.DisplayFor(modelItem => item.Date) | @Html.DisplayFor(modelItem => item.Time)</h4>
                            <p>@Html.DisplayFor(modelItem => item.Content)</p>
                            <a href="@Html.DisplayFor(modelItem => item.Link)" class="btn event__btn">@Html.DisplayFor(modelItem => item.LinkText)</a>
                            @if (item.fileContent != null)
                            {<p class="event__file"><i class="fa fa-download"></i> @Html.ActionLink("Download File", "Download", new { id = item.ID })</p>}
                        </div>
                    </div>
                }
            }
             if (User.IsInRole("Admin"))
             {
                if (item.Viewer.Contains("Administrator") || item.Viewer.Contains("FamilyAssoc") || item.Viewer.Contains("BoardDirector"))
                {
                    <div class="event-card">
                        <div class="event-card-content">
                            <h2>
                                @Html.DisplayFor(modelItem => item.Title)
                            </h2>
                            <h4>@Html.DisplayFor(modelItem => item.Date) | @Html.DisplayFor(modelItem => item.Time)</h4>
                            <p>@Html.DisplayFor(modelItem => item.Content)</p>
                            <a href="@Html.DisplayFor(modelItem => item.Link)" class="btn event__btn">@Html.DisplayFor(modelItem => item.LinkText)</a>
                            @if (item.fileContent != null)
                            {<p class="event__file"><i class="fa fa-download"></i> @Html.ActionLink("Download File", "Download", new { id = item.ID })</p>}
                        </div>
                    </div>
                }
             }
          }
          }
    </section>

    <script>
        $(function () {
            $(".event__btn").each(function () {
                if ($(this).attr('href') == "") {
                    $(this).hide();
                }
            });
            var eventContentLi = $(".event-card-content ul li");
            $(eventContentLi).each(function () {
                if ($(this).text('')) {
                    $(this).hide();
                }
            });
        });
    </script>
