@model IEnumerable<HPSMVC.Models.Event>
    @{
        ViewBag.Title = "BoardCalendar";
        ViewBag.BodyClass = "events";
        ViewBag.BodyID = "BoardCal";
    }  

    <section class="event-card-section clearfix" style="background-color:white">
@foreach (var item in Model)
    {
        if (item.Date >= DateTime.Now.Date)
        {
            
            if (User.IsInRole("BoardDirector"))
            {
            if (item.Viewer == "BoardDirectors")
            {
                <div class="event-card">
                    <div class="event-card-content">
                        <h2>
                            @Html.DisplayFor(modelItem => item.Title)
                        </h2>
                        <h4>@Html.DisplayFor(modelItem => item.Time)</h4>
                        <h4>@Html.DisplayFor(modelItem => item.Date)</h4>
                        <p>@Html.DisplayFor(modelItem => item.Content)</p>
                        <a href="@Html.DisplayFor(modelItem => item.Link)" class="btn event__btn">@Html.DisplayFor(modelItem => item.LinkText)</a>
                        <a>@Html.ActionLink("Download File", "Download", new { id = item.ID })</a>
                    </div>
                </div>
            }
            }
            if (User.IsInRole("FamilyAssoc"))
            {
            if (item.Viewer == "FamilyAssoc")
                        {
                            <div class="event-card">
                                <div class="event-card-content">
                        <h2>
                            @Html.DisplayFor(modelItem => item.Title)
                        </h2>
                        <h4>@Html.DisplayFor(modelItem => item.Time)</h4>
                        <h4>@Html.DisplayFor(modelItem => item.Date)</h4>
                        <p>@Html.DisplayFor(modelItem => item.Content)</p>
                        <a href="@Html.DisplayFor(modelItem => item.Link)" class="btn event__btn">@Html.DisplayFor(modelItem => item.LinkText)</a>
                        <a>@Html.ActionLink("Download File", "Download", new { id = item.ID })</a>
                    </div>
                </div>
            }
            }
               if (User.IsInRole("Admin"))
               {
                   if (item.Viewer == "Administrator" || item.Viewer == "FamilyAssoc" || item.Viewer == "BoardDirectors")
                        {
                            <div class="event-card">
                                <div class="event-card-content">
                        <h2>
                            @Html.DisplayFor(modelItem => item.Title)
                        </h2>
                        <h4>@Html.DisplayFor(modelItem => item.Time)</h4>
                        <h4>@Html.DisplayFor(modelItem => item.Date)</h4>
                        <p>@Html.DisplayFor(modelItem => item.Content)</p>
                        <a href="@Html.DisplayFor(modelItem => item.Link)" class="btn event__btn">@Html.DisplayFor(modelItem => item.LinkText)</a>
                        <a>@Html.ActionLink("Download File", "Download", new { id = item.ID })</a>
                    </div>
                </div>
            }
            }
          }
          }
    </section>

    <script>
        $(function () {
            $(".event__btn").each(function () {
                if ($(this).attr('href') == "") {
                    $(this).hide();
                }
            });
            var eventContentLi = $(".event-card-content ul li");
            $(eventContentLi).each(function () {
                if ($(this).text('')) {
                    $(this).hide();
                }
            });
        });
    </script>
