@model IEnumerable<HPSMVC.Models.Event>
    @{
        ViewBag.Title = "Calendar";
        ViewBag.BodyClass = "events";
    }

<div class="page-hero clearfix">
    <div class="hero-middle text-center">
        <h1>Event Days</h1>
        <h4>Our events facilitate fun and connection amongst the HPS community. Join us at one of our next events!</h4>
    </div>
    <div class="hero-middle-filter"></div>
</div>

<section class="event-card-section clearfix">

    @foreach (var item in Model)
    {
        if (item.Date >= DateTime.Now.Date)
        {
        <div class="event-card">
            <div class="event-card-content">
                <h2>
                    @Html.DisplayFor(modelItem => item.Title)
                </h2>
                <h4>@Html.DisplayFor(modelItem => item.Date)</h4>
                <p>@Html.DisplayFor(modelItem => item.Content)</p>
                <a href="@Html.DisplayFor(modelItem => item.Link)" class="btn event__btn">@Html.DisplayFor(modelItem => item.LinkText)</a>
                <ul>
                    <li>@Html.DisplayFor(modelItem => item.Files)</li>
                </ul>
            </div>
        </div>
        }
    }
</section>

    <script>
        $(function () {
            $(".event__btn").each(function () {
                if ($(this).attr('href') == "") {
                    $(this).hide();
                }
            });
            var eventContentLi = $(".event-card-content ul li");
            $(eventContentLi).each(function () {
                if ($(this).text('')) {
                    $(this).hide();
                }
            });
        });
    </script>

