@model IEnumerable<HPSMVC.Models.FitBit>

    @{
        ViewBag.Title = "Fitbit View Stats";
        ViewBag.BodyClass = "fitbit";
    }
    <section class="clearfix">
        <div class="container">

            <h2>fitbit Record List</h2>

            @using (Html.BeginForm())
            {
                <p>
                    @Html.TextBox("SearchString")
                    <input type="submit" value="Search" class="btn btn-solid" />
                    <a class="btn btn-solid" href="/Fitbit/AdminStats">Clear</a>
                </p>
            }
            <table class="table">

                <tr>
                    <th>
                        @Html.ActionLink("User", "AdminStats", new { sortOrder = ViewBag.NameSortParm })
                    </th>

                    <th>
                        @Html.ActionLink("Progress", "AdminStats", new { sortOrder = ViewBag.ProgressSortParm })
                    </th>

                    <th>
                        @Html.ActionLink("Goal", "AdminStats", new { sortOrder = ViewBag.GoalSortParm })
                    </th>

                    <th>
                        Percentage Earned
                    </th>

                    <th>
                        @Html.ActionLink("Start Date", "AdminStats", new { sortOrder = ViewBag.DateStartSortParm })
                    </th>

                    <th>
                        End Date
                    </th>
                </tr>

                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            @user.User
                        </td>
                        <td>
                            @user.Progress
                        </td>
                        <td>
                            @user.Goal
                        </td>
                        <td>
                            @user.percentageEarned
                        </td>
                        <td>
                            @user.dateStart.Value.ToString("MMM dd yyyy")
                        </td>
                        <td>
                            @user.dateEnd.Value.ToString("MMM dd yyyy")
                        </td> 
                    </tr>

                }
            </table>


            <div class="col-md-12">
                <div class="form-group back_to_list">
                    <h4><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back to fitbit", "Index")</h4>
                </div>
            </div>

        </div>
    </section>
