@{
    ViewBag.Title = "Fitbit";
    ViewBag.BodyClass = "fitbit";
}
<section class="clearfix">
<div class="container"><div class="row">

<div class="col-md-12"><div class="form-group">
<h1>My fitbit</h1>
<a href="https://www.fitbit.com/login"><h2>
<span style="background:url('/Content/assets/img/109d9919a44b792ebe64e520c3b57dc2.svg') no-repeat 0 0; background-size: cover; height:30px;width:116px;display:inline-block;"></span>
View your fitbit account for more in depth stats
</h2></a>
</div></div>
<hr />
   <p>
       <a class="btn btn-solid" href="/Fitbit/UserStats">View Stats</a>
        @if(User.IsInRole("Admin"))
        {
        <a class="btn btn-solid" href="/Fitbit/AdminStats">View All Stats</a>
        }
   </p>
<hr />
<div class="col-md-10 col-md-offset-1 text-center"><div class="form-group">
<div class="col-md-6"><h2>Date Start: <span class="txt-brand fb-datestart">@ViewData["fitBitDateStart"]</span></h2></div>
<div class="col-md-6"><h2>Date End: <span class="txt-brand fb-dateend">@ViewData["fitBitDateEnd"]</span></h2></div>
</div></div>

<div class="col-md-10 col-md-offset-1 text-center"><div class="form-group">
@using (Html.BeginForm()){<h2 class="txt-red">@TempData["ValidationMessage"]</h2>}
</div></div>

<div class="col-sm-4 fitbit-card">  
<div class="submitsection">
@using (Html.BeginForm("addProgressFitBit", "Fitbit"))
{
<div class="col-xs-10 col-xs-offset-1"><div class="form-group text-center">
<h2>Current Progress</h2>
<span class="goal"><i class="fa fa-bar-chart"></i> </span>
<h2 class="goal" id="reach">@ViewData["fitBitProgress"]</h2>
        
@Html.AntiForgeryToken()
<label>Update Progress: </label> @Html.TextBox("addProgress", null, new { @class = "form-control" , placeholder = "Add your steps!" })
</div></div>
<div class="form-group text-center">
<input type="submit" value="Add Progress" class="btn btn-solid" />
</div>
}
</div>
</div>

<div class="col-sm-4 fitbit-card">
<h2 class="text-center">Percent Reached</h2>
<div class="progress-pie-chart" data-percent="">
<div class="ppc-progress">
<div class="ppc-progress-fill"></div>
</div>
<div class="ppc-percents">
<div class="pcc-percents-wrapper">
<span>%</span>
</div>
</div>
</div>
</div>

<div class="col-sm-4 fitbit-card">
<div class="goalsection">
<h2>Current Goal</h2>
<span class="goal"><i class="fa fa-bar-chart"></i> </span>
<span class="goal" id="goal">@ViewData["fitBitGoal"]</span>
<br />
<a href="/Fitbit/Manage" class="btn btn-solid">Change Goal</a>
</div>
</div>

</div></div>
</section>
<script>
    var $ppc = $('.progress-pie-chart'),
        $goal = $('#goal'),
        $updateGoal = $('#updateGoal'),
        $reached = $('#reach');
    $($reached).ready(function () {
        var totalReached = parseInt($reached.text()),
            goal = parseInt($goal.text()),
            thePercent = totalReached / goal * 100;
        var percent = parseInt(thePercent);
        deg = 360 * percent / 100;
        if (totalReached >= goal || totalReached >= $updateGoal) {
            $ppc.removeClass('gt-50');
            $ppc.addClass('gt-100');
        }
        if (totalReached > goal / 2 && totalReached < goal || totalReached > $updateGoal / 2) {
            $ppc.removeClass('gt-100');
            $ppc.addClass('gt-50');
        }
        if (totalReached < goal / 2 || totalReached == null) {
            $ppc.removeClass('gt-50');
            $ppc.removeClass('gt-100');
        }
        
        $('.ppc-progress-fill').css('transform', 'rotate(' + deg + 'deg)');
        $('.ppc-percents span').html(percent + '%');

        var convertDate = $('.fb-dateend').text();
        var todayDate = new Date();
        var endDate = new Date(convertDate);
        if (endDate <= todayDate) {
            $('.fitbit__modal').fadeToggle(400);
        }
        $('.fitbit__modal__exit').click(function () {
            $('.fitbit__modal').fadeToggle(400);
        })
    })
</script>
<div class="fitbit__modal">
    <div class="fitbit__modal__inner clearfix">
        <h1 class="text-center">Attention</h1>
        <p>
            Looks like the week is over, please submit your stats for this week.
        </p>
        <p><a href="Fitbit/Create" class="btn btn-solid">Submit Stats</a></p>
    </div>
</div>