@model HPSMVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


<section>
<div class="container"><div class="row">
<div class="col-md-10 col-md-offset-1">
<h1 class="text-center">@ViewBag.Title</h1>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "", role = "form" }))
{
@Html.AntiForgeryToken()
<hr />
    
<div class="col-md-10 col-md-offset-1"><div class="form-group">
@Html.ValidationSummary("", new { @class = "text-danger" })
</div></div>

<div class="col-md-10 col-md-offset-1"><div class="form-group">
@Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
</div></div>

<div class="col-md-5 col-md-offset-1"><div class="form-group">
@Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
</div></div>
    
<div class="col-md-5"><div class="form-group">
@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
</div></div>

<div class="col-md-offset-1 col-md-10"><div class="form-group">
<input type="submit" value="Change password" class="btn btn-solid" />
</div></div>
            
<div class="col-md-offset-1 col-md-10"><div class="form-group back_to_list">
<h4><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back to List", "../User/Index")</h4>
</div></div>

}
</div></div></div>
</section>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
