@model IEnumerable<HPS.ASP.Models.Program>

@{
    ViewBag.Title = "Index";
    ViewBag.BodyClass = "care";
}
<div class="page-hero clearfix">
  <div class="hero-middle text-center">
    <h1>Our Care</h1>
    <p>The Hamilton Program for Schizophrenia is a comprehensive community-based treatment and rehabilitation program. We are dedicated to helping people with schizophrenia through case management services, rehabilitation programs and psychiatric care.</p>
  </div>
  <div class="hero-middle-filter"></div>
</div>
<section class="clearfix key-message program-key">
  <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-left">Our Programs</h1>
      <p>Our monthly and weekly programs include art, cooking, and physical fitness. We place an emphasis on our clients embracing healthy living, improving their life skills and most importantly, having <span class="highlight"> fun</span>.</p>
    </div>
  </div>
</section>
<section class="clearfix text-photo-half cottage-group">
  <div class="text-half clearfix">
    <div class="text-half-inner">
      <div class="col-xs-12 clearfix">
        <h2>Cottage Studio</h2>
        <p>The Cottage Studio is a community-based consumer art program supported by HPS Family Association and the Ontario Trillium Foundation that promotes mental health through creative art. Located beside St. Paul’s Presbyterian Church (70 James St. South) in the newly renovated “Cottage” members are offered complimentary space, art supplies and art lessons, in a relaxed social environment.</p>
        <p>Membership is free and is open to any consumer of mental health interested in art.</p>
        <p>The Cottage Studio is now open 5 days a week from 1pm to 3pm.</p>
        <p>To learn more about the Cottage Studio visit <a href="http://cottagestudio.ca"> cottagestudio.ca</a></p>
      </div>
    </div>
  </div>
  <div class="photo-half">
    <div class="photo-bg"></div>
  </div>
</section>
<section class="clearfix text-photo-half volleyball-group">
  <div class="text-half clearfix">
    <div class="text-half-inner">
      <div class="col-xs-12 clearfix">
        <h2>Volleyball</h2>
        <p>Every Friday, HPS clients get together with clients from another mental health agency to play volleyball at a nearby recreation center. It is friendly competition which helps prepare the clients for the Volleyball tournament in May hosted by St. Joseph’s Healthcare at their mountain site.  This program does not run in the summer months (Jun-Aug).</p>
      </div>
    </div>
  </div>
  <div class="photo-half">
    <div class="photo-bg"></div>
  </div>
</section>
<section class="clearfix text-photo-half gaming-group">
  <div class="text-half clearfix">
    <div class="text-half-inner">
      <div class="col-xs-12 clearfix">
        <h2>Gaming Group</h2>
        <p>The Gaming Group enables clients to participate with an interactive gaming system where they use their various body parts as the remotes. This group promotes healthy living by exercising.  Gaming Group runs Wednesday afternoon before Wednesday Social Group.</p>
      </div>
    </div>
  </div>
  <div class="photo-half">
    <div class="photo-bg"></div>
  </div>
</section>
<section class="clearfix text-photo-half friday-group">
  <div class="text-half clearfix">
    <div class="text-half-inner">
      <div class="col-xs-12 clearfix">
        <h2>Friday Social</h2>
        <p>Held every Friday here on site at HPS, clients come to sit down and talk with each other while enjoying a drink and a snack. This gives clients an opportunity to meet new people and increase their socializing skills.</p>
      </div>
    </div>
  </div>
  <div class="photo-half">
    <div class="photo-bg"></div>
  </div>
</section>
<section class="clearfix text-photo-half collective-group">
  <div class="text-half clearfix">
    <div class="text-half-inner">
      <div class="col-xs-12 clearfix">
        <h2>Collective Kitchen</h2>
        <p>The Collective Kitchen allows HPS clients to pool their money and their commitment to cook nutritious meals together. In addition to providing several healthy meals each week this program has proven to reduce shopping costs, increase socialization and develops culinary skills.</p>
      </div>
    </div>
  </div>
  <div class="photo-half">
    <div class="photo-bg"></div>
  </div>
</section>

<section class="clearfix text-photo-half sweet-group">
  <div class="text-half clearfix">
    <div class="text-half-inner">
      <div class="col-xs-12 clearfix">
        <h2>Sweet Donations</h2>
        <p>Sweet Donations is a weekly baking group with goals to improve food preparation skills in the kitchen, to increase opportunities for socialization and to contribute to the Hamilton community through the donation of baked goods to various local community organizations.</p>
      </div>
    </div>
  </div>
  <div class="photo-half">
    <div class="photo-bg"></div>
  </div>
</section>
<section class="clearfix text-photo-half walking-group">
  <div class="text-half clearfix">
    <div class="text-half-inner">
      <div class="col-xs-12 clearfix">
        <h2>Walking Group</h2>
        <p>The Walking Group combines both socialization and exercise while heading out for extensive walks throughout Hamilton every Wednesday morning.</p>
      </div>
    </div>
  </div>
  <div class="photo-half">
    <div class="photo-bg"></div>
  </div>
</section>
<section class="clearfix text-photo-half wednesday-group">
  <div class="text-half clearfix">
    <div class="text-half-inner">
      <div class="col-xs-12 clearfix">
        <h2>Wednesday Social</h2>
        <p>Wednesday Social Group is an activity based group that allows HPS clients to participate in craft making, playing games and various other activities. It is an afternoon group and runs every Wednesday on site at HPS.</p>
      </div>
    </div>
  </div>
  <div class="photo-half">
    <div class="photo-bg"></div>
  </div>
</section>
<section class="clearfix text-photo-half computer-group">
  <div class="text-half clearfix">
    <div class="text-half-inner">
      <div class="col-xs-12 clearfix">
        <h2>Computer Tutoring</h2>
        <p>Computer Tutoring is available to HPS clients looking to learn basic computer and Internet skills through the use of an HPS peer tutor.</p>
      </div>
    </div>
  </div>
  <div class="photo-half">
    <div class="photo-bg"></div>
  </div>
</section>
<section class="clearfix text-photo-half movie-group">
  <div class="text-half clearfix">
    <div class="text-half-inner">
      <div class="col-xs-12 clearfix">
        <h2>Movie Group</h2>
        <p>The Movie Group gives clients an opportunity to watch movies together every Thursday afternoon while getting to know other HPS clients. Every month, the group collectively decides on the movies they wish to watch for the next month.</p>
      </div>
    </div>
  </div>
  <div class="photo-half">
    <div class="photo-bg"></div>
  </div>
</section>
<section class="clearfix offbrand">
  <div class="text-center">
    <h1>Case Management</h1>
    <h4>Every client develops an individual service plan with their case manager.</h4>
    <br>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6">
      <p>The goal is to increase the client’s satisfaction and success in the areas of living, learning, work and social life. HPS case managers are experienced clinicians with professional training in the disciplines of nursing, occupational therapy, psychology and social work. </p>
    </div>
    <div class="col-md-6">
      <p>The HPS team forms a therapeutic alliance with the client which becomes the basis for their personal growth, change and sustained hope in managing the challenges arising from schizophrenia.</p>
    </div>
  </div>
</section>
<section class="clearfix offgrey">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="title-under">Rehab and Treatment</h1>
    <p>Psychosocial Rehabilitation is an important part of recovery and is an essential feature of the Hamilton Program for Schizophrenia. We offer rehabilitation to clients through programs, as well as through living, learning, working, social and recreational activities. Our rehabilitation programs follow evidence-based practices; that is, we offer skill training that has been shown to be effective in increasing success in living in the community. Our groups have peer support workers who contribute as a part of the client-centred team. A wide range of interventions and social and recreational opportunities are offered and we encourage clients to participate in those areas which fit specific goals and learning needs.</p>
    <p>Schizophrenia is a serious medical disorder that affects 1% of the population. HPS psychiatrists prescribe medication treatments for the psychiatric symptoms associated with schizophrenia. In addition, we have developed support linkages with St. Joseph’s Healthcare, Centre for Mountain Health Services, laboratory services, pharmacies and family doctors. Working with the HPS staff, these community partners are an important part of providing our clients with essential psychiatric and medical care in the community. We work collaboratively with over 80 family physicians who assist with clients’ physical needs. HPS clients utilize community and hospital pharmacies to dispense their medications.</p>
  </div>
</section>
<section class="clearfix">
  <div class="col-md-12 text-center">
    <h1 class="title-under">Referrals/IntAc</h1>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <p>To refer someone to one of the four Mental Health Intensive Case Management Programs in Hamilton:</p>
    <ul>
      <li>Canadian Mental Health Association, Hamilton Branch</li>
      <li>City of Hamilton Mental Health/Outreach Team* (Community Mental Health Promotion Program)</li>
      <li>Hamilton Mental Health Outreach Program</li>
      <li>Hamilton Program for Schizophrenia</li>
    </ul>
  </div>
  <div class="col-md-6">
    <p>Please contact Intac (Intensive Case Management Access Coordination):</p>
    <ul class="block-list no-style-list">
      <li>21 King Street West, Suite 100</li>
      <li>Hamilton, Ontario L8P 4W7</li>
      <li>Telephone: <a href="tel:19055280683">(905)-528-0683</a></li>
      <li>Fax: (905)-546-0055</li>
      <li>Referral Hours: Monday to Friday 9:00am to 4:30pm</li>
    </ul>
    <p>Or Email IntAc Coordinator: <a href="">Intac@hpfs.on.ca</a></p>
  </div>
</section>
<section>
  <p>
    @Html.ActionLink("Create New", "Create")
  </p>
  <table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Title)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Content)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Image)
      </th>
      <th></th>
    </tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
          @Html.ActionLink("Details", "Details", new { id = item.ID }) |
          @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
      </tr>
    }

  </table>
</section>