@model HPSMVC.Models.RegisterViewModel
@{
ViewBag.Title = "Register";
}

<section id="loginForm">
<div class="container"><div class="row">
<div class="col-md-10 col-md-offset-1">

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
{
@Html.AntiForgeryToken()
<h1 class="text-center">Create Account</h1>
<hr />
    
<div class="col-md-offset-1 col-md-10">
@Html.ValidationSummary("", new { @class = "text-danger" })
</div>
<div class="col-md-10 col-md-offset-1">
<p>If you don't have an email, don't worry - just write a username with @@hps.com at the end</p>
<div class="form-group">
@Html.LabelFor(m => m.Email, new { @class = "control-label" })
@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="myName@hps.com" })
</div></div>

<div class="col-md-5 col-md-offset-1">
<div class="form-group">
@Html.LabelFor(m => m.Password, new { @class = "control-label" })
@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
</div></div>

<div class="col-md-5">
<div class="form-group">
@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
</div></div>

<div class="col-md-offset-1 col-md-10">
<div class="form-group">
<input type="submit" class="btn btn-solid" value="Register" />
</div></div>
}
<div class="col-md-offset-1 col-md-10">
<div class="form-group back_to_list">
<h4><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back to List", "../User")</h4>
</div></div>

</div></div></div>
</section>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
