@model IEnumerable<HPSMVC.Models.RolesViewModel>
    @{
        ViewBag.Title = "ManageRole";
    }
    <section>
        <div class="container">
            <h1 class="text-center">Manage Roles</h1>

            <div class="form-horizontal">
                <div class="col-md-10 col-md-offset-1">
                    <hr />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @using (Html.BeginForm())
                            {
                                <p style="color:red">
                                    @TempData["ValidationMessage"]
                                </p>
                            }
                        </div>
                    </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">

                                    @using (Html.BeginForm("RoleAddToUser", "User"))
                                    {
                                        <div class="col-md-10">
                                        <h2>Add User To Role</h2>
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                        <div class="col-md-8">
                                            <label>Username: </label> @Html.TextBox("UserName", null, new { @class = "form-control", @placeholder = "Username"})
                                        </div>
                                        <div class="col-md-4">
                                            <label>Role: </label> @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
                                        </div></div>
                                        <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" value="Add" class="btn btn-solid" />
                                        </div></div></div>
                                    }
                                </div>
                            </div>

                            @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <h2>Get Roles for a User</h2>
                            @using (Html.BeginForm("GetRoles", "User"))
                            {
                                @Html.AntiForgeryToken()
                                <p>
                                    Username : @Html.TextBox("UserName")
                                    <input type="submit" value="Get Roles for this User" />
                                </p>
                            }

                            @if (ViewBag.RolesForThisUser != null)
                            {
                                <div style="background-color:yellow;">
                                    <h3>Roles for this user </h3>
                                    <ol>
                                        @foreach (string s in ViewBag.RolesForThisUser)
                                        {
                                            <li>@s</li>
                                        }
                                    </ol>
                                </div>
                            }
                        </div>
                    </div>*@

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">

                                    @using (Html.BeginForm("DeleteRoleForUser", "User"))
                                    {
                                        <div class="col-md-10">
                                        <h2>Delete User From Role</h2>
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <label>Username: </label> @Html.TextBox("UserName", null, new { @class = "form-control", @placeholder = "Username" })
                                            </div>
                                            <div class="col-md-4">
                                            <label>Role: </label> @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
                                        </div></div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="submit" value="Delete" class="btn btn-solid" />
                                        </div></div></div>
                                    }
                                </div>
                            </div>

                            <div class="form-group back_to_list">
                                <div class="col-md-offset-2 col-md-10">
                                    <h4><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back to List", "Index")</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>
