@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hamilton Program for Schizophrenia</title>
    @Styles.Render("~/Content/assets/less/main.min.css", "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", "https://fonts.googleapis.com/css?family=Lato:400,300,700")
    @Scripts.Render("~/Content/assets/js/main.js")
</head>

<body class="@ViewBag.BodyClass">
    <nav class="clearfix">
        <h1><a href="/">HPS</a></h1>
        <ul class="parent-nav">
            <li class="parent-li-nav" id="home-nav"><a class="nav-current" href="/">Home</a></li>
            <li class="parent-li-nav" id="events-nav"><a class="nav-current" href="/Events">Events</a></li>
            <li class="parent-li-nav" id="care-nav"><a href="/Care" class="nav-current">Care</a></li>
            <li class="parent-li-nav" id="about-nav"><a href="/About" class="nav-current">About HPS</a></li>
            <li class="parent-li-nav" id="contact-nav"><a href="/Contact" class="nav-current">Contact</a></li>
            @if (!HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <li class="parent-li-nav login" id="login-nav"><a href="/Account/Login" class="nav-current">Login</a></li>  
            } 
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "parent-li-nav login" }))
                 {
                     @Html.AntiForgeryToken()
                     <li class="" id="login-nav"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-current">Logout</a></li>  
                 } 
            } 
            <li class="parent-li-nav resize-txt">A<span class="resize-txt-large-A">A</span></li>
        </ul>
        
        <div id="hamburger" class="hamburglar">
            <div class="burger-icon">
                <div class="burger-container">
                    <span class="burger-bun-top"></span>
                    <span class="burger-filling"></span>
                    <span class="burger-bun-bot"></span>
                    <span class="line-up"></span>
                </div>
            </div>
        </div>
    </nav>
    <div class="main-wrapper">
        <div class="mobile-nav">
            <ul class="mobile-nav-elements">
                <li class="" id=""><a href="/Home">Home</a></li>
                <li class="" id=""><a href="/Events">Events</a></li>
                <li class="" id=""><a href="/Care">Care</a></li>
                <li class="" id=""><a href="/About">About HPS</a></li>
                <li class="" id=""><a href="/Contact">Contact</a></li>
            </ul>
        </div>
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        { 
        <div class="admin-aside-panel">
            <h4>Hey, @(User.Identity.Name)</h4>
            <ul>
                <li><a href="/Files">File Exchange</a></li>
                <li><a href="/Events/BoardCal">Board Calendar</a></li>
                <li><a href="/Home/Admin">HomePage Management</a></li>
                <li><a href="/Care/Admin">CarePage Management</a></li>
                <li><a href="/Events/Admin">Events Management</a></li>
                <li><a href="#">User Management</a></li>
            </ul>
            <i class="icon fa fa-chevron-right closed"> </i>
        </div>
        }
        @RenderBody()
    </div><!-- MAIN WRAPPER -->
    <footer class="clearfix">
        <div class="container"><div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="footer-links col-sm-5 col-sm-offset-1">
                <h1 class="footer-logo"><a href="">HPS</a></h1>
                <p><a href="@Url.Content("~/Content/assets/MSAA/MSAA.pdf")"> Multi-Sector Service Accountability Agreement</a></p>
            </div>
            <div class="footer-address col-sm-5 col-sm-offset-1">
                <p>Our Address:</p>
                <p>21 King Street West, Suite 100</p>
                <p>Hamilton, Ontario L8P 4W7</p>
                <p>Telephone: <a href="tel:9055252832> 905.525.2832 </a></p>
                <p>Fax: <a href="tel:">905.546.0055</a></p>
            </div>
        </div>
        </div></div>
        <!-- SCRIPTS -->
        <script>
            $('.carousel').carousel();
            $("#datepicker").datepicker();
            $('.resize-txt').click(function (event) {
                $('body').toggleClass('enlargen-text');
            });

            $('.mobile-nav-parent a').click(function (event) {
                $('.mobile-nav-expand').hide('fast');
                $(this).siblings('ul').show('slow');
            });

            $('document').ready(function () {
                var trigger = $('#hamburger'),
                    menu = $('.mobile-nav'),
                    isClosed = true;
                trigger.click(function () {
                    burgerTime();
                });
                function burgerTime() {
                    if (isClosed == true) {
                        isClosed = false;
                        trigger.removeClass('is-closed');
                        trigger.addClass('is-open');
                        $('body').css('overflow', 'hidden');
                        menu.show();
                    } else {
                        isClosed = true;
                        trigger.removeClass('is-open');
                        trigger.addClass('is-closed');
                        $('body').css('overflow', 'scroll');
                        menu.hide();

                    }
                }
            });
            $('document').ready(function () {
                $('.icon').click(function () {
                    var icon = $('i.icon');
                    if ($(this).hasClass('closed')) {
                        $('.admin-aside-panel').animate({
                            marginLeft: '0px'
                        }, 500);
                        $(this).removeClass('closed');
                        $(this).addClass('open');
                        icon.addClass('fa-chevron-left');
                        icon.removeClass('fa-chevron-right');
                    }
                    else {
                        $('.admin-aside-panel').animate({
                            marginLeft: '-300px'
                        }, 500);

                        $(this).removeClass('open');
                        $(this).addClass('closed');
                        icon.addClass('fa-chevron-right');
                        icon.removeClass('fa-chevron-left');
                    }
                });
            });
        </script>

        <script>
            function getValue() {
                var x = document.getElementById('logoutForm').submit();
            }
        </script>


        @Scripts.Render("~/Content/assets/js/main.js")
        @RenderSection("scripts", required: false)
    </footer>
</body>
</html>
