@model HPSMVC.Models.File

@{
    ViewBag.Title = "Create";
}
<section>
    <div class="container">
        <h1 class="text-center">File Upload</h1>

        @using (Html.BeginForm("Create", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
            <div class="col-md-10 col-md-offset-1">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="file" name="FileUpImage" id="careImage" /><br />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @type = "text", @class = "form-control", @id = "datepicker", @placeholder = "12/31/2016" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control", @placeholder="Volleyball Tournament 2016" } })
                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div id="inputs" class="form-group">
                    <div class="col-md-10">
                        @if (User.IsInRole("FamilyAssoc"))
                        {
                            <div><input type="checkbox" value="FamilyAssoc">FamilyAssoc</div>
                        }
                        @if(User.IsInRole("BoardDirector"))
                        {
                            <div><input type="checkbox" value="BoardDirector">Board Director</div>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <div>
                                <input type="checkbox" value="All">All
                                <input type="checkbox" value="Client">Client
                                <input type="checkbox" value="FamilyAssoc">FamilyAssoc
                                <input type="checkbox" value="BoardDirector">Board Director
                                <input type="checkbox" value="Administrator">Administrator
                            </div>
                        }
                    </div>
                </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Viewer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Viewer, new { htmlAttributes = new { @class = "form-control", @id = "target", @readonly=true, @placeholder = "Select Viewers From Checkboxes"} })
                @Html.ValidationMessageFor(model => model.Viewer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" style="margin-left:0;" class="btn btn-default" disabled="" />
                <input onclick="$(this).resetValidation()" type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    
        <div class="form-group back_to_list"><div class="col-md-offset-2 col-md-10">
            <h4><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back to List", "Index")</h4>
        </div></div>
</div></div>
}

        @section Scripts {
            <script>
              
                $('#careImage').change(function () {
                    $('.btn-default').prop('disabled', !($('#careImage').val()));
                });

                var arr = [];
                $('#inputs input').change(function () {
                    if (this.checked) {
                        arr.push(this.value);
                    }
                    else {
                        arr.splice(arr.indexOf(this.value), 1);
                    }
                    $('#target').val(arr + '');
                }); 
            </script>
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</section>