@model HPSMVC.Models.File

@{
    ViewBag.Title = "Create";
}
<section>
    <div class="container">
        <h1 class="text-center">File Upload</h1>

        @using (Html.BeginForm("Create", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
            <div class="col-md-10 col-md-offset-1">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="file" name="FileUpImage" id="careImage" /><br />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @type = "text", @class = "form-control", @id = "datepicker", @placeholder = "12/31/2016" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control", @placeholder="Volleyball Tournament 2016" } })
                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </div>
                </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Viewer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Viewer, new SelectList(
                  new List<Object>{
                       new { value = "All" , text = "All"  },
                       new { value = "Clients" , text = "Clients" },
                       new { value = "BoardDirectors" , text = "BoardDirectors" },
                       new { value = "FamilyAssoc" , text = "FamilyAssoc"},
                       new { value = "Administrator" , text = "Administrator"}
                    },
                  "value",
                  "text",
                   2))
                @Html.ValidationMessageFor(model => model.Viewer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" style="margin-left:0;" class="btn btn-default" disabled="" />
                <input onclick="$(this).resetValidation()" type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div> </div>
}

        @section Scripts {
            <script>
              
                $('#careImage').change(function () {
                    $('.btn-default').prop('disabled', !($('#careImage').val()));
                });
            </script>
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</section>