@model HPSMVC.Models.File

@{
  ViewBag.Title = "Create";
}

<h2>File Upload</h2>


@using (Html.BeginForm("Create", "Files", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
              <input type="file" name="FileUpImage" id="careImage" /><br />
          </div>
      </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
    </div>
  </div>

      <div class="form-group">
          @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.DropDownListFor(model => model.Category, new SelectList(
                  new List<Object>{
                       new { value = "Pdf" , text = "Pdf"  },
                       new { value = "Photo" , text = "Photo" },
                       new { value = "Exe" , text = "Exe" },
                       new { value = "Text" , text = "Text"}
                    },
                  "value",
                  "text",
                   2))@Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
              </div>
          </div>
          <div class="form-group">
              @Html.LabelFor(model => model.Viewer, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.DropDownListFor(model => model.Viewer, new SelectList(
                  new List<Object>{
                       new { value = "All" , text = "All"  },
                       new { value = "Clients" , text = "Clients" },
                       new { value = "BoardDirection" , text = "BoardDirection" },
                       new { value = "Family" , text = "Family"},
                       new { value = "Administator" , text = "Administator"}
                    },
                  "value",
                  "text",
                   2))
                  @Html.ValidationMessageFor(model => model.Viewer, "", new { @class = "text-danger" })
              </div>
          </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" disabled="" />
    </div>
  </div>
  </div>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        $('#careImage').change(function () {
            $('.btn-default').prop('disabled', !($('#careImage').val()));
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
