@model HPSMVC.Models.File

@{
    ViewBag.Title = "Edit";
}
<section>
    <div class="container">
        <h1 class="text-center">Edit File</h1>
        @using (Html.BeginForm("Edit", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="col-md-10 col-md-offset-1">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group"><div class="col-md-10 col-md-offset-2">
                @{
                    if (Model.fileContent != null)
                    {
                        string imageBase64 = Convert.ToBase64String(Model.fileContent);
                        string imageSrc = string.Format("data:" + Model.fileContent + ";base64,{0}", imageBase64);
                        if (Model.fileType.Contains("image"))
                        {
                            <img src="@imageSrc" style="max-height:400px;max-width:500px;" class="img-responsive img-rounded" /><br />
                        }          
                    }
                }
                </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-2">Image File:</label>
                    <div class="col-md-10">
                        Replace With:<input type="file" class="" name="FileUpImage" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @type = "text", @class = "form-control", @id = "datepicker" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>

                <div id="inputs" class="form-group">
                    <div class="col-md-10">
                        @if (User.IsInRole("FamilyAssoc"))
                        {
                            <div><input type="checkbox" value="FamilyAssoc">FamilyAssoc</div>
                        }
                        @if (User.IsInRole("BoardDirector"))
                        {
                            <div><input type="checkbox" value="BoardDirector">Board Director</div>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <div>
                                <input type="checkbox" value="All">All
                                <input type="checkbox" value="Client">Client
                                <input type="checkbox" value="FamilyAssoc">FamilyAssoc
                                <input type="checkbox" value="BoardDirector">Board Director
                                <input type="checkbox" value="Administrator">Administrator
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Viewer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Viewer, new { htmlAttributes = new { @class = "form-control", @id = "target", @readonly=true, @placeholder = "Select Viewers From Checkboxes" } })
                        @Html.ValidationMessageFor(model => model.Viewer, "", new { @class = "text-danger" })
                    </div>
                </div>
                
        <!--<div class="form-group">
            @Html.LabelFor(model => model.Viewer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Viewer, new SelectList(
                   new List<Object>{
                       new { value = "All" , text = "All"  },
                       new { value = "Clients" , text = "Clients" },
                       new { value = "BoardDirectors" , text = "BoardDirectors" },
                       new { value = "FamilyAssoc" , text = "FamilyAssoc"},
                       new { value = "Administrator" , text = "Administrator"}
                    },
                  "value",
                  "text",
                   2))
                @Html.ValidationMessageFor(model => model.Viewer, "", new { @class = "text-danger" })
            </div>
        </div>-->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" style="margin-left:0;" value="Save" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group back_to_list"><div class="col-md-offset-2 col-md-10">
            <h4><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back to List", "Index")</h4>
        </div></div>
    </div></div>
        }
        @section Scripts {
            <script>
                var arr = [];
                $('#inputs input').change(function () {
                    if (this.checked) {
                        arr.push(this.value);
                    }
                    else {
                        arr.splice(arr.indexOf(this.value), 1);
                    }
                    $('#target').val(arr + '');
                });
            </script>
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</section>