@model IEnumerable<HPSMVC.Models.Index>
@{
    ViewBag.Title = "HomePage";
    ViewBag.BodyClass = "home";
}
     
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
        @foreach (var item in Model)
        {
            
            <div id="" class="item">
                <div class="text-center" style="color:red;">@Html.DisplayFor(modelItem => item.AlertMessage)</div>
                <div class="carousel-caption">
                    <h1 class="">@Html.DisplayFor(modelItem => item.Title)</h1>
                    <h4 class="">@Html.DisplayFor(modelItem => item.Content)</h4>
                    <div class="carousel-btns ">
                        <a class="btn btn-solid" href="@Html.DisplayFor(modelItem => item.ButtonLink)">@Html.DisplayFor(modelItem => item.ButtonText)</a>
                    </div>
                </div>
            <div class="hero-middle-filter"></div>
            @if (item.fileContent != null && item.fileType.Contains("image"))
            {
                string imageBase64 = Convert.ToBase64String(item.fileContent);
                string imageSrc = string.Format("data:" + item.fileType + ";base64,{0}", imageBase64);
                <div class="hero__background-image" style="background-image:url('@imageSrc')"></div>
            }
        </div>
        }
        </div>
    <!-- Controls -->
    </div><!-- / Carousel-->
    <!-- Call to action-->
    <section class="home-call clearfix key-message bg-yellow">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
            <p class="text-center">
                Our goal is to see each client actively pursuing a <span class="highlight"> healthy </span> and <span class="highlight"> fulfilling </span> life in the community. To this end, we provide <span class="highlight"> support </span> to individuals at home or work and in leisure activities.
            </p>
        </div>
    </section>
    <section class="clearfix text-photo-half treatment-care">
        <div class="text-half bg-purple clearfix">
            <div class="text-half-inner bg-purple">
                <div class="col-xs-12 clearfix">
                    <h2>Treatment &amp; Care</h2>
                    <p>We offer rehabilitation to clients through programs, as well as through living, learning, working, social and recreational activities.</p>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-12">
                    <h3>Programs</h3>
                    <ul>
                        <li>Collective Kitchen</li>
                        <li>Computer Tutoring</li>
                        <li>Cottage Studio</li>
                        <li>Friday Social</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-12">
                    <h3>Treatment</h3>
                    <ul>
                        <li>Social and Recreational Opportunities</li>
                        <li>Case Managers</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="photo-half">
            <div class="photo-bg"></div>
        </div>
    </section>
    <section class="clearfix text-photo-half case-management">
        <div class="text-half clearfix bg-white">
            <div class="text-half-inner">
                <div class="col-xs-12 clearfix">
                    <h2>Case Management</h2>
                    <p>Each client is assigned to their own case manager. This allows for our clients to receive the <span class="highlight"> specialized treatment </span> that they deserve.</p>
                    <h3>Client Benefits</h3>
                    <ul>
                        <li>Consistent Treatment</li>
                        <li>Goal Setting</li>
                        <li>Personal Growth</li>
                        <li>Peer Encouragement</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="photo-half">
            <div class="photo-bg"></div>
        </div>
    </section>
    <section class="clearfix key-message key-message-purple">
        <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
            <div class="col-sm-8 text-left"><p>Check out this months events for more information about HPS has to offer and some more information about client <span class="highlight"> care.</span></p></div>
            <div class="col-xs-12 col-sm-4"><a href="" class="btn btn-solid">Visit This Page</a></div>
        </div>
    </section>
    @section Scripts {
            <script>
                $(function(){
                    $(".item:first-child").addClass("active");
                })
            </script>
        }
