@model HPSMVC.Models.Contact

@{
    ViewBag.Title = "Edit";
}

<section>
    <div class="container">
        <h1 class="text-center">Edit Contact</h1>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Contact</h4>
                <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Province, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Province)
                        @Html.ValidationMessageFor(model => model.Province)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PostalCode, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PostalCode)
                        @Html.ValidationMessageFor(model => model.PostalCode)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telephone, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telephone)
                        @Html.ValidationMessageFor(model => model.Telephone)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fax)
                        @Html.ValidationMessageFor(model => model.Fax)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Hours, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Hours)
                        @Html.ValidationMessageFor(model => model.Hours)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Message)
                        @Html.ValidationMessageFor(model => model.Message)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group back_to_list">
                    <div class="col-md-offset-2 col-md-10">
                        <h4><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back to List", "Admin")</h4>
                    </div>
                </div>
            </div>
        }

       

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</section>
