@model IEnumerable<HPSMVC.Models.Contact>

    @{
        ViewBag.Title = "Index";
        ViewBag.BodyClass = "contact";
    }

    <section class="clearfix key-message bg-purple">
        <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
            <h2 class="text-center">Contact Us</h2>
            <div class="col-md-10 col-md-offset-1">
                <p>
                    Have some questions? Want information for an upcoming event, or want to contribute to the HPS?<br>
                    Send us a message and we'll get back to you as soon as possible!
                </p>
            </div>
        </div>
    </section>
    <section class="clearfix">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6">
                @foreach (var item in Model)
                {
                <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAaMCFQON9VTr4Bd59hIGu99Jhie8cHqFY
        &q=@item.City+@item.Province+@item.PostalCode+@item.Address" allowfullscreen></iframe>
                <br><br>
                    <ul class="block-list no-style-list">
                        <li>@Html.DisplayFor(modelItem => item.Address)</li>
                        <li>@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.Province) @Html.DisplayFor(modelItem => item.PostalCode)</li>
                        <br />
                        <li>Telephone: <a href="tel:@item.Telephone">@Html.DisplayFor(modelItem => item.Telephone)</a></li>
                        <li>Fax: <a href="fax:@item.Fax">@Html.DisplayFor(modelItem => item.Fax)</a></li>
                        <br />
                        <li>@Html.DisplayFor(modelItem => item.Hours)</li>
                        <li>@Html.DisplayFor(modelItem => item.Message)</li>
                    </ul>
                }
            </div>
            <form action="" class="col-sm-6">
                <div class="form-group">
                    <label for="">Your Full Name:</label>
                    <input placeholder="First & Last Name" type="text" class="form-control" id="firstname">
                </div>
                <div class="form-group">
                    <label for="email">Your Email:</label>
                    <input placeholder="myemail@website.com" type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="email">Your Phone:</label>
                    <input placeholder="416-111-1111" type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="">Message:</label>
                    <textarea placeholder="Tell us what we can help you with" class="form-control" id=""></textarea>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <p><span class="highlight">Is this an urgent request?</span></p>
                        <label><input type="checkbox"> Yes</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <p><span class="highlight">Preferred method of contact</span></p>
                        <label><input type="radio" name="method-contact"> Phone</label>
                        <label><input type="radio" name="method-contact"> Email</label>
                    </div>
                </div>
                <div class="form-group">
                    <button style="margin-left:0;" type="submit" class="btn btn-solid btn-inset-hover">Submit</button>
                </div>
            </form>
        </div>
    </section>

