@model IEnumerable<HPS.ASP.Models.Event>

@{
    ViewBag.Title = "Index";
    ViewBag.BodyClass = "events";
}
<div class="page-hero clearfix">
  <div class="hero-middle text-center">
    <h1>Event Days</h1>
    <h4>Our events facilitate fun and connection amongst the HPS community. Join us at one of our next events!</h4>
  </div>
  <div class="hero-middle-filter"></div>
</div>

<section class="event-card-section clearfix">
  @foreach (var item in Model)
  {
    <div class="event-card">
      <div class="event-card-content">
        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
        <h4>@Html.DisplayFor(modelItem => item.Date)</h4>
        <p>@Html.DisplayFor(modelItem => item.Content)</p>
        <a href="@Html.DisplayFor(modelItem => item.Link)" class="btn">Check it out!</a>
        <div class="admin-opts" style="color:#fff !important;margin-top:2em;">
          @Html.ActionLink("Edit", "Edit", new { id = item.ID })
          @Html.ActionLink("Details", "Details", new { id = item.ID })
          @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </div>
      </div>
    </div>
  }
  <div class="event-card old-event-card">
    <div class="event-card-content">
      <h2>Event Name</h2>
      <h4>Date: Jan 26, 2016</h4>
      <p>This event already happened</p>
      <a href="" class="btn">Event Link</a>
    </div>
  </div>
  <div class="event-card old-event-card">
    <div class="event-card-content">
      <h2>Event Name</h2>
      <h4>Date: Jan 22, 2016</h4>
      <a href="" class="btn">Event Link</a>
    </div>
  </div>
</section>

 
